html, body {
    height: 100%;
}

body {
    display: flex;
}

.creator {
    flex-shrink: none;
    width: 280px;
    box-sizing: border-box;
    background-color: lightcyan;
    padding: 20px;
    border-style: solid;
}

.form {
    display: none;
}

.table {
    height: 0;
    flex: 1;
    display: flex;
    padding: 20px;
    padding-top: 0px;
}

table, td, th {
    border: 1px solid black;
}

table {
    background-color: lightgray;
    flex: 1;
    padding: 10px;
    border-collapse: collapse;
}

th {
    height: 30px;
    width: 100px;
}
